{% extends 'base.html' %}
{% block content %}
    
<section>
    <p class="heading-top">{{ content.heading }}</p>
    <p class="heading">{{ content.subhead }}</p>
    <img src="{{ content.img.url }}" class="center" alt="">
    <div class="arti">
        {% for i in X %}
            <p class="para">{{ i }}</p>
        {% endfor %}
        <div class="sub">
        {% for cont in contents %}
            {% if cont.id != content.id %}
                <div class="foot">
                    <a href="{% url 'content' cont.id %}">
                        <figure>

                        <img src="{{ cont.img.url }}"  alt="" class="foo">
                        <p class="image-top">
                        {{ cont.country }}
                        </p>
                        <p class="image">
                            {{ cont.thumbnail }}
                        </p>
                        <figcaption class="date">{{ cont.Date }}</figcaption>
                    
                        </figure>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    </div>
</section>

{% endblock %}