{% extends 'base.html' %}

{% block content %}

{% if contents %}
    <div class="main">
    {% for content in contents %}
        <div class="container">
                <a href="{% url 'content' content.id %}">
                <figure>
                <img src="{{ content.img.url }}" alt="" class="article">
                <figcaption class="image">
                {{ content.thumbnail }}
                </figcaption>
                <figcaption class="time">{{ content.Date }}</figcaption>
                </figure>
                </a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <p>No content</p>
{% endif %}
{% endblock %}