p.heading{
    font-family: 'Crimson Text', serif;
    font-size: 48px;
    font-weight: 200;
    text-align: center;
    line-height:50px;
    margin-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
}
p.heading-top{
    font-family: 'Crimson Text', serif;
    font-size: 48px;
    font-weight: 200;
    text-align: center;
    line-height:50px;
    margin-top: 15px;
    margin-left: 128px;
    margin-right: 128px;

}
.para{
    margin-bottom: 20px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    margin-bottom: 20px;
}
.arti{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 700px;
    font-family: 'Crimson Text', serif;
    font-size: 24px;
}

div.foot{
    display: block;
    border-style: solid;
    border-radius: 5px;
    border-color: #ECECEC;
    padding:15px;
    padding-bottom: 25px;
    margin-bottom: 20px;
}
img.foo{
    float: right;
    width:180px;
    border-radius:7px;
    margin-left: 7px ;
    height:130px;

}
a{
    text-decoration: none;
}
figcaption{
    font-size: 100%;
    margin-bottom:5px;
}
p.image-top{
    font-family: 'Bitter', sans-serif;
    font-size: 20px ;
    font-weight:bolder;
    margin-left: 7px;
}
p.image{
    line-height: 25px;
    margin: 2px;
}
figcaption.date{
    margin-top:10px;
    margin-left: 4px;
    font-size: 14px;
}
@media(max-width:900px){
    p.heading_top{
        margin-left: 78px;
        margin-right: 78px;
    }
    .center{
        width:500px;
    }
}
@media(max-width:830px){
    .center{
        width:400px;
        margin-bottom: 17px;
    }
    .arti{
        
        width: 550px;
    }
    figcaption{
        font-size: 80%;
    }
    img.foo{
        height: 140px;
    }
}
@media(max-width:700px){
    p.heading{
        font-family: 'Crimson Text', serif;
        font-size: 36px;
        font-weight: 150;
        text-align: center;
        line-height:40px;
        margin-bottom: 15px;
    }
    p.heading-top{
        font-family: 'Crimson Text', serif;
        font-size: 36px;
        font-weight: 150;
        text-align: center;
        line-height:40px;
        margin-top: 15px;
        margin-left: 48px;
        margin-right: 48px;
    }

}
@media(max-width:632px){
    .center{
        width:350px;
    }
    .arti{
        width: 450px;
    }
    img.foo{
        height:150px;
    }
}

@media(max-width:453px){
    figcaption{
        font-size:65%;
    }
    img.foo{
        height: 150px;
        margin-top: 2px;
    }
    .arti{
        width:98%;
        text-align: justify;
    }
    p.heading-top{
        margin-left: 18px;
        margin-right: 18px;
    }
}

@media(max-width:425px){
    .arti{
        width:90%;
        text-align: justify;
    }
    .sub{
        display: flex;
        margin:3%;
        box-sizing: border-box;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start !important;
        justify-content: center;
    }
    div.foot{
        margin: 4%;
        border-radius: 20px;
        border-style: solid;
        border-color : #776a6a;
        border-width: 2px;
        padding: 1px;
        font-size: 12px;
        font-family: 'Roboto','sans-serif';
    }
    .foot img{
        margin-left: 0px !important;
        margin-top: 0px;
        margin-bottom: 5px;
        width: 325px;
        height:160px;
        border-radius: 20px 20px 0px 0px;
    }
    p.image-top{
        font-size: 18px;
        font-family: 'bitter',sans-serif;
        font-weight: bolder;
    }
    
    p.image{
        margin:5px;
        align-content: center;
        font-family: 'Crimson Text', serif;
        font-size: 24px;
        line-height: 23px;
    }
    figcaption.date{
        font-size: 12px;
    }
    
    
    
    
    .foot a{
        text-decoration: none;
        color: black;
    }
    
}

@media(max-width:370px){
    .foot img{
        width:280px;
    }

}
@media(max-width:353px){
    .center{
        width:98%;
    }
}

